<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br><br>
<%= link_to "edit", edit_article_path(@article) %>
<br><br>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the beautifl Hababa prayer?"} %><br><br>

<%= render partial: 'comments/form' %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br>
<%= link_to "<< Back to Hababa Prayer List", articles_path %>